<dialog class="modal">
  <article>
    <header>
      <button aria-label="Close" rel="prev" class="modal_close"></button>
      <p>
      </p>
    </header>
    <h2>Профиль</h2>
    <form method="POST">
      <fieldset>
        <label>
          Email
          <input
              type="email"
              name="email"
              placeholder="Email"
              autocomplete="email"
          />
        </label>
        <label>
          Пароль
          <input
              type="password"
              name="password"
              placeholder="Пароль"
              autocomplete="password"
          />
        </label>
      </fieldset>
      <input
          type="submit"
          formaction="/auth/signin"
          value="Войти"
      />
      <input
          type="submit"
          formaction="/auth/signup"
          value="Зарегистрироваться"
      />
    </form>
  </article>
</dialog>