<!doctype html>
<html lang="ru">
<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
  />
  <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/butterup.min.css') }}">
  <title>Shorty</title>
  {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
<script src="{{ url_for('static', filename='js/copy.js') }}"></script>
<script src="{{ url_for('static', filename='js/butterup.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/butterup_conf.js') }}"></script>
</html>